.header{
    margin-bottom: 80px;
}

.section-consult{
    margin-bottom: 191px;
}

.section-services{
    margin-bottom: 222px;
}

.section-providers{
    margin-bottom: 229px;
}

.section-download{
    margin-bottom: 222px;
}

.section-customer{
    margin-bottom: 270px;
}