body {
  font-family: "Mulish", sans-serif;
}

.container {
  width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  display: flex;
}

/* 
    ||
    ||
    ||  
    \/
*/

.header {
  justify-content: space-between;
}

.header .header-logo {
  margin: 56px 0 0 123.07px;
}

.header .header-menu {
  display: flex;
  justify-content: space-between;
  flex-basis: 585.64px;
  margin: 70px 169.16px 0 0;
}

.header .header-menu a {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  opacity: 0.5;
}

.header .header-menu a:first-child {
  font-weight: 700;
  opacity: 1;
}

.section-consult .consult {
  margin: 106px 136.47px 0 122px;
  flex: 0 0 458px;
}

.section-consult .consult h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.section-consult .consult p {
  font-size: 21px;
  line-height: 32px;
  margin: 25px 0 45px;
}

.section-consult .consult button {
  background: #458ff6 !important;
  color: #ffffff !important;
  border: none;
}

.section-consult .illustration {
  flex: 0 0 744.68px;
}

.section-services,
.section-articles {
  flex-direction: column;
}

.section-services .services {
  flex-direction: column;
  text-align: center;
  margin-bottom: 80px;
  padding: 0 325px;
}

.section-services .services h2 {
  line-height: 56px;
}

.section-services .services .line,
.section-providers .providers .line,
.section-download .download .line,
.section-customer .customer .header .line,
.section-articles .title .line {
  width: 56px;
  height: 2px;
  background-color: #000;
  border-radius: 5px;
  margin: 26px auto 33px;
}

.section-services .services-cards {
  position: relative;
  flex-wrap: wrap;
  gap: 31px;
  padding: 0 240px;
}

.section-services .services-cards .card {
  flex: 0 0 350px;
  padding: 54px 45px 56.59px 37px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.section-services .services-cards .grid {
  position: absolute;
  right: 190px;
  top: calc(50% - 57.5px);
  z-index: -1;
}

.section-services .services-cards h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
  margin-top: 30px;
}

.section-services .services-cards p {
  font-size: 16px;
  line-height: 28px;
}

.section-services .learn-more button,
.section-consult .consult button,
.section-providers .providers button,
.section-download .download button,
.section-articles .learn-more button {
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  padding: 5px 51px;
  margin: 69px auto 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  background: transparent;
}

.section-providers .illustration {
  margin: 0 142px 0 135px;
  flex: 0 0 650px;
}

.section-providers .providers {
  position: relative;
  flex: 0 0 481px;
  margin-top: 57px;
}

.section-providers .providers h2 {
  line-height: 56px;
}

.section-providers .providers .line,
.section-download .download .line {
  margin-left: 0;
}

.section-providers .providers button,
.section-download .download button {
  margin-top: 40px;
}

.section-providers .providers .grid {
  position: absolute;
  right: -240px;
  bottom: -100px;
}

.section-download .download {
  flex: 0 0 420px;
  margin: 36px 71px 0 280px;
}

.section-download .download button{
  position: relative;
  padding-right: 60px;
}

.section-download .download button img {
  position: absolute;
  top: 28px ;
  right: 35px;
}

.section-download .illustration {
  flex: 0 0 165px;
}

.section-customer .customer {
  position: relative;
  width: 1120px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
}

.section-customer .customer .grid {
  position: absolute;
  top: -15px;
  right: -50px;
}

.section-customer .customer .customer-header {
  flex: 0 0 100%;
  text-align: center;
  margin-top: 64px;
}

.section-customer .customer .customer-header h2 {
  color: #fff;
}

.section-customer .customer .customer-header .line {
  margin: 25px auto 0;
  background-color: #fff;
}

.section-customer .customer .customer-info {
  flex: 0 0 354px;
  margin: 66px 110px 83px 118px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-customer .customer .customer-info .customer-content-info h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #fff;
}

.section-customer .customer .customer-info .customer-content-info small {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.section-customer .customer .customer-says {
  flex: 0 0 420px;
  margin: 77px 115px 89px 0;
}

.section-customer .customer .customer-says p {
  font-weight: 400;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
}

.section-articles .title {
  flex-direction: column;
  align-items: center;
}

.section-articles .article-cards {
  padding: 0 240px;
  gap: 34px;
}

.section-articles .article-cards .card {
  flex: 0 0 350px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  overflow: hidden;
}

.section-articles .article-cards .card .card-content {
  margin: 21px 51px 35px 33px;
}

.section-articles .article-cards .card .card-content h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
}

.section-articles .article-cards .card .card-content p {
  font-size: 16px;
  line-height: 28px;
  margin: 12px 0 25px;
}

.section-articles .article-cards .card .card-content a {
  position: relative;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ed;
}

.section-articles .article-cards .card .card-content a img{
  position: absolute;
  top: 5px ;
  right: -30px;
  transform: rotate(270deg);
}

.section-articles .learn-more button {
  margin-top: 72px;
}

.footer{
  position: relative;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.footer .footer-container{
  flex: 0 0 1,196px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 133.17px auto 127.98px;
}

.footer .footer-container .grid {
  position: absolute;
  bottom: -15px;
  left: -20px;
}

.footer .footer-container .trafalgar {
  flex: 0 0 391px;
}

.footer .footer-container .trafalgar .footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer .footer-container .trafalgar .footer-logo .bg-logo {
  display: inline;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px 15px;
}

.footer .footer-container .trafalgar .footer-logo .bg-logo h2 {
  font-size: 26px;
  line-height: 33px;
  color: #5b9bf3;
}

.footer .footer-container .trafalgar .footer-logo h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.footer .footer-container .trafalgar > p {
  line-height: 28px;
  color: #ffffff;
  margin: 19.19px 0 24.99px;
}

.footer .footer-container .trafalgar p:last-child {
  margin: 0;
  font-size: 16px;
}

.footer .footer-container h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: #ffffff;
}

.footer .footer-container .links {
  display: flex;
  flex-direction: column;
}

.footer .footer-container .links a {
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ececec;
}
